extends layout

block content
      div.top
        form.form-horizontal(method="post", id="loginForm")
          label Send
          input.span3(id="sendAmount", type="text", name="Send", placeholder="Amount to send")
          label Password
          input.span3(id="password", type="password", name="Password")
          input.btn(type="submit", value="Log In")
      div.container
        div.content
          table.table.table-striped
            thead
              tr
                th Table
                th Heading
            tbody
              tr
                td Blah
                td Test
              tr
                td Hello
                td World

      div.footer